@import "variables.scss";

.footer {
  background-color: $grey;
  padding: 60px 0;
  color: $black;
  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 134px;
  }

  &__desc {
    padding-top: 37px;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.04em;
    font-family: $AvrileSansRegular;
  }

  &__paragraph span {
    font-family: $AvrileSansSemiBold;
  }
  &__links-container {
    gap: 18px;
    display: flex;
    flex-direction: column;
  }
  &__links {
    width: 178px;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    flex-direction: column;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    font-family: $AvrileSansRegular;
    color: black;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.0025em;
    padding-bottom: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  &__link:last-child {
    padding-bottom: 0;
  }
  &__link:hover {
    color: $orange;
  }

  .footer__contacts {
    height: 214px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__contacts a {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: black;
    font-family: $AvrileSansRegular;
  }
  &__span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &:hover {
      color: $orange;
    }
  }
}

.footer__search {
  display: flex;
  height: 50px;
  background: rgba(247, 241, 227, 0.2);
}
.footer__search input {
  font-family: $AvrileSansRegular;
  transition: 0.3s ease-in-out;
  padding-left: 19px;
  padding: 0 30px 0 20px;
  border: 1px solid #645845;
  outline: none;
  background: rgba(31, 29, 26, 0.2);
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  height: 100%;
  &:active,
  &:hover,
  &:focus {
    outline-offset: -10px;
    outline: 2px dashed $blue;
  }
}

.footer__search input::placeholder {
  color: rgba(16, 16, 16, 1);
}

.footer__search button {
  transition: 0.3s;
  border: none;
  background: $blue;
  border: 1px solid #645845;
  cursor: pointer;
  &:hover {
    background: $dark-blue;
  }
}
.footer__search button:before {
  content: "";
  display: block;
  background: url("../images/reply.svg") no-repeat;
  width: 35px;
  height: 30px;
  margin: 10px 18px;
}
