@import "variables.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      font-family: $AvrileSansRegular;
      margin-left: 20px;
    }
    &__item:first-child {
      margin-left: 0;
    }
    &__link {
      color: $grey;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    &__link:hover {
      color: $orange;
    }
  }
}
.links {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-left: 35px;
}

.icon:first-child {
  margin-left: 0;
}
