@import "variables.scss";

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      font-family: $AvrileSansRegular;
      margin-left: 20px;
    }
    &__item:first-child {
      margin-left: 0;
    }
    &__link {
      color: $grey;
      border-bottom: 1px solid transparent;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    &__link:hover {
      color: $orange;
      border-bottom: 1px solid $white;
    }
  }
}
.links {
  display: flex;
  justify-content: space-between;
}

.icon a {
  display: inline-block;
  color: $grey;
  margin-left: 35px;
}

.icon a svg {
  transition: 0.3s;
}

.icon a svg:hover {
  color: $orange;
  transform: scale(1.4);
}

.icon:first-child {
  margin-left: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
