@import "variables.scss";

.joinUs {
  padding-top: 180px;
  margin-bottom: 180px;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 134px;
  }
  &__paragraph {
    max-width: 425px;
  }
  &__paragraph p {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.04em;
    font-family: $AvrileSansRegular;
  }
  &__form {
    background: $grey;
    border: 1px solid rgba(170, 166, 157, 0.2);
    backdrop-filter: blur(30px);
  }
  &__form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 30px 60px 30px;
  }
  &__input {
    outline: none;
    border: none;
    width: 326px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 20px 9px;
    gap: 10px;
    background: rgba(247, 241, 227, 0.2);
    border-bottom: 1px solid #1f1d1a;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: $dark-grey;
    font-family: $AvrileSansRegular;
    transition: 0.3s;
    &:active,
    &:focus {
      outline-offset: -10px;
      outline: 2px dashed $blue;
    }
    &:hover,
    &:focus {
      border-bottom: 1px solid transparent;
    }
  }

  &__input::placeholder {
    color: $dark-grey;
  }

  &__button {
    width: 326px;
    height: 54px;
    cursor: pointer;
    background: $blue;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: $grey;
    font-family: $gothic;
    border: none;
    transition: 0.3s;
    &:hover {
      background-color: $dark-blue;
    }
  }
}
