@import "variables.scss";

.other {
  margin-bottom: 120px;
}

.cards {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card {
  position: relative;
  cursor: pointer;
  width: 594px;
  height: 595px;
  &:hover .card__information {
    opacity: 1;
    /* transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px); */
  }
  &__information {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 0;
    transition: 0.3s;
    opacity: 0;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.7);
  }
  &__title {
    font-size: 30px;
    line-height: 43px;
    font-family: $gothic;
    width: 230px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 514px;
  }
  &__info {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__time {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $AvrileSansSemiBold;
  }
  &__date {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $AvrileSansSemiBold;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.card__art {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/ArtAndVineTasting.jpg) center no-repeat;
  background-size: cover;
}

.card__music {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/LiveMusic.jpg) center no-repeat;
  background-size: cover;
}

.card__renaissance {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/ArtRenaissance.jpg) center no-repeat;
  background-size: cover;
}

.card__modern {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/modern.jpg) center no-repeat;
  background-size: cover;
}

.card__masterpieces {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(../images/masterpieces.jpg) center no-repeat;
  background-size: cover;
}

.card__wrap {
  width: 802px;
  height: 423px;
}

.card__masterpieces-header {
  width: 722px;
}

.card__masterpieces-title {
  width: 316px;
}
